@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
        color: #191919;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 600px; /* Increased width to accommodate larger input fields */
    transition: width 0.5s;
}

.container.enlarged {
    width: 600px; /* Increased width for horizontal enlargement */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.alert {
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}

.alert.success {
    background-color: #28a745;
}

.alert.error {
    background-color: #dc3545;
}

.alert.info {
    background-color: #17a2b8;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-container input[type="text"], .input-container input[type="date"] {
    width: 40%; /* Adjusted width of input fields */
    padding: 10px;
    border: 2px solid #191919;
    border-radius: 5px;
}

#add-btn {
    background-color: #299d91;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 50px;
    border-radius: 5px;
}

#add-btn:hover {
    background-color: #191919;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#filter-btn, #delete-all-btn {
    background-color: #299d91;
    color: #fff;
    padding: 10px;
    width: 75px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#filter-btn:hover, #delete-all-btn:hover {
    background-color: #191919;
}

#dropdown {
    display: none;
    background-color: #fff;
    position: absolute;
    margin-top: 150px;
    padding: 5px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#dropdown button {
    background-color: transparent;
    color: #191919;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

#dropdown button:hover {
    background-color: #299d91;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #fff;
}

td {
    background-color: #fff;
}

.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.actions .edit-btn {
    color: #ffd700;
}

.actions .complete-btn {
    color: #00ff00;
}

.actions .delete-btn {
    color: #ff0000;
}
